---
layout: base
---

{% include post_ldjson.html %}

<article id="post__content">
    <h1 id="post__title" data-identifier="{{ page.date | date: "%Y-%m-%d" }}">{{ page.title }}</h1>

    {% if page.tags == "home" %}
    <hr style="margin: 10px 0;"/>
    {% else %} 
    <div id="article-meta">
        <hr style="margin: 10px 0;"/>
        <div class="post-meta">
            <span>作者:
            <author>{{ page.author | default: site.author.name }}</author></span>
            <span>类别:<a href="/404#{{page.tags[0]|default:golang}}">
            <category>{{page.tags[0]|default:bioinfo}}</category></a></span>
            <span>时间:
            <time>{{ page.date | date:"%Y-%m-%d" }}</time></span>
            <span>评分:
            <score>{{ page.score | default: 10.0 }}</score></span>
        </div>
    </div>
    {% endif %}

    {{ content }}
</article> <!-- end #post__content -->






