<div id="copyright">
<p id="copyright-link">
    <a href="https://www.yuque.com/shenweiyan">语雀：专业云端知识库</a> |
    <a href="https://blog.leanote.com/post/shenweiyan">蚂蚁笔记</a> |
    <a href="https://www.aliyun.com/">阿里云</a> |
    <a href="https://cloud.tencent.com/">腾讯云</a> |
    ishenweiyan@qq.com
    <a mailto="ishenweiyan@qq.com" target="_blank">联系我</a>&nbsp;&nbsp;|&nbsp;
    <a href="https://github.com/shenweiyan" target="_blank">我的Github组织</a>&nbsp;&nbsp;|&nbsp;
    <a href="https://gitee.com/shenweiyan" target="_blank">码云</a> |
    <a href="https://www.oschina.net/">开源中国社区</a>
</p>
<p id="copyright-visit">
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次，本站访客数<span id="busuanzi_value_site_uv"></span>人次
</p>
<!--p id="copyright-date"></p-->
</div>

<script language="javascript" type="text/javascript">
//js获取日期
  var now = new Date();
  var year = now.getFullYear();
  var month = now.getMonth();
  var date = now.getDate();
//获取相应ID
 document.getElementById("copyright-date").innerHTML="© 2019 - "+year+" 版权所有，保留一切权利！ ";
</script>
